@import 'variables';

* {
  box-sizing: border-box;
}

body,
p {
  padding: 0;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.disabled-cursor {
  cursor: not-allowed !important;
}

#spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  #spinner {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid $blue-primary;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}


/* Other Styles */
.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

button:disabled {
  cursor: not-allowed;
}

.btn-lg {
  height: 40px;
  max-height: 40px;
  width: 90px;
  max-width: 90px;
  overflow: clip;
  border: none;
  border-radius: 10px; /* Adjusted from 50% to 10px for square style */
  color: $text;
  font-size: 18px;
  padding: 0.5em 1rem;
  cursor: pointer;

  // for ellipsis
  white-space: nowrap; /* Prevents the text from wrapping onto the next line */
  overflow: hidden; /* Hides the text that overflows the element's box */
  text-overflow: ellipsis; /* Adds an ellipsis to the end of the text */
}

.btn-primary {
  background-color: $primary-dark;

  &:hover {
    background-color: $primary;
  }
}

.btn-accent {
  background-color: $accent-dark;

  &:hover {
    background-color: $accent;
  }
}