/* variables.scss */

$primary: #4CAF50;
$dark-primary: #388E3C;
$light-primary: #C8E6C9;

$accent-one: #FF5252;
$accent-two: #D32F2F;
$text: #FFFFFF;
$primary-text: #212121;
$secondary-text: #757575;
$divider: #BDBDBD;
