@import './variables.css';

.dialpad {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 10px;
  width: 100%;
  /* padding: 20px; */
  /* background-color: #fff; */
  /* border-radius: 10px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.dialpad .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input-container {
  width: 100%;
  max-width: 100%;
  position: relative;
  display: inline-block;
  margin-bottom: 0.5em;
}

.styled-input {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.delete-button {
  max-width: 10%;
  width: 10%;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 18px;
}


/* Previous CSS code remains the same */

.number {
  /* width: 40px; */
  width: 30%;
  height: 40px;
  border: none;
  border-radius: 10px; /* Adjusted from 50% to 10px for square style */
  background-color: var(--dark-primary);
  color: var(--text);
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action {
  /* width: 40px; */
  width: 30%;
  height: 40px;
  border: none;
  border-radius: 10px; /* Adjusted from 50% to 10px for square style */
  font-size: 18px;
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: var(--primary) 0.3s ease;
}

.number:hover, .call:hover {
  background-color: var(--primary);
}

.call {
  width: 100% !important;
  background-color: var(--dark-primary);
}

.clear {
  background-color: var(--accent-two);
}

.clear:hover {
  background-color: var(--accent-one);
}

.end-call {
  background-color: #4d94ff;
}
