/* variables.scss */
/* variables.scss */
@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url("https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css");
* {
  box-sizing: border-box; }

body,
p {
  padding: 0;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.disabled-cursor {
  cursor: not-allowed !important; }

#spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Safari */ }
  #spinner-wrapper #spinner {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #007bff;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite; }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/* Other Styles */
.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important; }

button:disabled {
  cursor: not-allowed; }

.btn-lg {
  height: 40px;
  max-height: 40px;
  width: 90px;
  max-width: 90px;
  overflow: clip;
  border: none;
  border-radius: 10px;
  /* Adjusted from 50% to 10px for square style */
  color: #FFFFFF;
  font-size: 18px;
  padding: 0.5em 1rem;
  cursor: pointer;
  white-space: nowrap;
  /* Prevents the text from wrapping onto the next line */
  overflow: hidden;
  /* Hides the text that overflows the element's box */
  text-overflow: ellipsis;
  /* Adds an ellipsis to the end of the text */ }

.btn-primary {
  background-color: #388E3C; }
  .btn-primary:hover {
    background-color: #4CAF50; }

.btn-accent {
  background-color: #D32F2F; }
  .btn-accent:hover {
    background-color: #FF5252; }

/* variables.scss */
#widget-wrapper {
  padding: 0.5em;
  min-width: 350px;
  max-width: 100%;
  /* #tabs * {
    outline: 1px solid red;
  } */
  /* custon */ }
  #widget-wrapper .selectable-tabs {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    background-color: var(--text) !important; }
  #widget-wrapper #tabs .selectable-tabs .selectable-tab {
    padding: 0.5em;
    width: 100%;
    display: inline-block;
    flex: 1;
    /* Equal distribution of space among items */
    flex-basis: 0;
    text-decoration: none;
    background-color: #007bff;
    color: #FFFFFF !important;
    border: 1px solid #ccc; }
  #widget-wrapper .selectable-tab:hover {
    background-color: #4d9dff !important; }
  #widget-wrapper .ui-tabs-active {
    background-color: #388E3C;
    border-bottom: 4px solid orange; }
  #widget-wrapper .dialpad-tab {
    width: 50% !important; }
  #widget-wrapper .settings-tab {
    width: 50% !important; }
  #widget-wrapper .left-bordered {
    border-left: 1px solid #BDBDBD; }
  #widget-wrapper .tab {
    min-width: 300px;
    max-width: 100%;
    flex: 1; }
  #widget-wrapper main {
    padding: 0.5em;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }
  #widget-wrapper .flex-item {
    padding: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
    max-width: 100%; }
  #widget-wrapper #output-selection select {
    margin-bottom: 10px; }
  #widget-wrapper div#volume-indicators {
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    text-align: left; }
  #widget-wrapper div#volume-indicators > div {
    display: block;
    height: 20px;
    width: 0; }
  #widget-wrapper #output-selection {
    display: flex;
    flex-direction: column; }

/* variables.scss */
#login-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
  #login-container .input-group {
    margin-bottom: 15px; }
    #login-container .input-group label {
      display: block;
      font-weight: bold; }
    #login-container .input-group input[type="text"],
    #login-container .input-group input[type="password"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1); }
  #login-container .invalid {
    border: 2px solid red;
    /* Add a red border to invalid fields */ }
  #login-container .error-message {
    color: red;
    /* Style error messages in red */ }
  #login-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s; }
    #login-container button[type="submit"]:hover {
      background-color: #4d9dff; }

/* variables.scss */
#dialpad-ui .input-container {
  width: 100%;
  max-width: 100%;
  position: relative;
  display: inline-block;
  margin-bottom: 0.5em; }
#dialpad-ui .styled-input {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px; }
#dialpad-ui .delete-button {
  max-width: 10%;
  width: 10%;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 18px; }
#dialpad-ui .dialpad {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%; }
  #dialpad-ui .dialpad .row {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    #dialpad-ui .dialpad .row .number {
      width: 30%;
      height: 40px;
      border: none;
      border-radius: 10px;
      /* Adjusted from 50% to 10px for square style */
      background-color: #388E3C;
      color: #FFFFFF;
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: background-color 0.3s ease; }
      #dialpad-ui .dialpad .row .number:hover, #dialpad-ui .dialpad .row .number.call:hover {
        background-color: #4CAF50; }
    #dialpad-ui .dialpad .row .action {
      width: 30%;
      height: 40px;
      border: none;
      border-radius: 10px;
      /* Adjusted from 50% to 10px for square style */
      font-size: 18px;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: #4CAF50 0.3s ease; }
      #dialpad-ui .dialpad .row .action:hover {
        background-color: #4CAF50; }
    #dialpad-ui .dialpad .row .call {
      width: 100% !important;
      background-color: #388E3C; }
    #dialpad-ui .dialpad .row .call:disabled {
      background-color: #757575; }
    #dialpad-ui .dialpad .row .clear {
      background-color: #D32F2F; }
      #dialpad-ui .dialpad .row .clear:hover {
        background-color: #FF5252; }

/* variables.scss */
#active-call-ui, #after-call-ui, #incoming-call-ui {
  padding: 2em 0 2em 0; }
  #active-call-ui .info, #after-call-ui .info, #incoming-call-ui .info {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    color: #212121; }
    #active-call-ui .info .phone-number, #after-call-ui .info .phone-number, #incoming-call-ui .info .phone-number {
      font-size: 1.5em;
      padding: 0.5em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 10px;
      color: #757575; }

#active-call-ui .info .call-duration {
  color: #388E3C; }

#after-call-ui .info .call-duration {
  color: #D32F2F; }

#active-call-ui .call-duration, #after-call-ui .call-duration, #incoming-call-ui .call-duration {
  font-size: 1.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center; }
#active-call-ui .controls, #after-call-ui .controls, #incoming-call-ui .controls {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap; }

/*# sourceMappingURL=main.css.map */
